<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TDE Central | {% block title %}Home{% endblock %} </title>
    <meta name="description" content="A TOM to Consolidate the Identification and Multi-Facility Followup of Transients in Galaxy Centers">
    <meta name="author" content="TDE Central">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>

